body {
    padding: 0;
    margin: 0;
    height: 3000px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 15px 50px 0 50px;
    height: 50px;
    width: 100vw;
    font-weight: 900;
}

.header-wrapper {
    height: 100vh;
    /* width: 100vw; */
    box-sizing: border-box;
    padding: 50px;
}

.header-background {
    background-color: #fb7036;
    height: 100%;
    width: 50vw;
    transition: 2s 2s all ease-in-out;
}

.header-title {
    float: right;
    text-align: center;
    padding-top: calc(50vh - 220px);
    margin-right: -500px;
    font-size: 180px;
    font-weight: 900;
    line-height: 100%;
}

.header-title span {
    color: black;
}

.expand {
    width: calc(100vw - 50px);
}

#header-cta.fadeIn:hover {
    background-color: #eeb861;
    border: 1px solid #755726;
}

#header-cta {
    /*
    position: absolute;
    z-index: 20;
    top: 500px;
    left: 200px;*/
    opacity: 0;
    height: 50px;
    width: 175px;
    text-align: center;
    /*
    border: 2px solid black;*/
    border-radius: 25px;
    background-color: #ffc669;
    margin-top: 2vh;
    margin-left: 21vw;
    transition: 2s 2.5s opacity, 1s 0s background-color;
    text-decoration: none;
    color: black;
    line-height: 240%;
    font-size: 120%;
}

#header-cta.fadeIn {
    opacity: 1 !important;
    background-color: #FFc669;
}


/*
.keyframe-test {
    height: 0;
    width: 0;
    background-color: #151515;
    animation: my-animation 2s 2500ms infinite alternate both;
}

@keyframes my-animation {
    from {
        height: 0px;
        width: 0px;
    }
    to {
        height: 100px;
        width: 100px;
    }
}*/

.keyframe {
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 0;
    top: 400px;
    left: 6000px;
    animation: my-animation 2s 2500ms 1 alternate both;
}

@keyframes my-animation {
    from {
        top: 300px;
        left: 100vw;
    }
    to {
        top: 300px;
        left: 65vw;
    }
}

.middleText {
    padding-top: 24vh;
    padding-left: 21vw;
}

.smallCap {
    font-variant: small-caps;
    font-weight: 650;
}

.subtitle {
    color: rgb(0, 0, 0);
    font-size: 200%;
}

#text-cta {
    /*position: absolute;
    z-index: 20;
    top: 500px;
    left: 200px;*/
    opacity: 0;
    /*
    height: 80px;
    width: 200px;
    text-align: center;
    padding-top: 40px;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #ffffff;
    background-color: orange;*/
    transition: 2s 2.5s opacity, 1s 0s background-color;
}

#text-cta.fadeIn {
    opacity: 1 !important;
}

a:link {
    text-decoration: none!important;
}

.halfBtnBlock {
    display: block;
    width: 50%;
}